/* Importing font family*/

@font-face {
    font-family: Anta;
    src: url(/fonts/Anta-Regular.ttf);
}

/* Styling body and home*/
body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#headerelements {
    display: flex;
    justify-content: space-between;
    text-indent: 10px;
}

#marvel {
    width: 200px;
    height: auto;
    padding-left: 10px;
}

nav {
    display: flex;
    justify-content: center;
    text-indent: 80px;
    padding: 10px 10px 10px 10px;
    background-color: #be0000;
    border-radius: 10px;
}


a {
    text-decoration: none;
    color: aliceblue;
}

a:active {
    color: black;
}

#navi {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
}

.sidebar {
    display: block;
    max-height: 430px;
    overflow-y: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 2px solid #be0000;
    border-radius: 12px;
}

.box {
    width: 320px;
    height: 200px;
    padding: 5px;
    margin: 5px;
    border: 2px solid #be0000;
    border-radius: 10px;
    background-color: #be0000;
}

.rightcontent {
    margin-top: 10px;
    height: 430px;
}

p {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 5px;
    padding: 5px;
}

footer {
    background-color: #be0000;
    border-radius: 10px;
}

h1 {
    font-family: Anta;
}

h3 {
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    text-align: center;
}

h5 {
    font-size: 15px;
    margin-left: 10px;
}

/*Styling About us Page */

.aboutus {
    width: 1190px;
    height: 450px;
}

/*Styling Gallery Page */

.gallery {
    width: 1190px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.marvelSlides {
    margin: 10px;
    flex: 1 1 300px;
    max-width: 800px;
}

.marvelSlides img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

/*Styling Movies */

.movies {
    width: 1190px;
    overflow-x: auto;
    height: 450px;
}

.movieContainer {
    display: flex;
    align-content: center;
}

.mbox {
    position: relative;
    left: 0px;
}

.mbox img {
    width: 250px;
    height: auto;
    margin: 30px;
    border-radius: 10px;
}

.mbox:not(:first-child) {
    margin-left: -50px;
}

.mbox:hover {
    transform: translateY(-20px);
}

.mbox:hover~.mbox {
    left: 50px;
}

/*Styling Awards */

.awards {
    width: 1190px;
    height: 450px;
    display: flex;
    margin: 5px;
}

.awardsbox {
    width: 280px;
    height: 430px;
    margin: 10px;
    border: 2px solid #be0000;
    border-radius: 10px;
}